In [8]:

import pandas as pd
df = pd.read_csv('/Users/summerhe/Desktop/UDEN201811DATA3/Week3/HW/Instructions/PyBank/Resources/budget_data.csv')

df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [9]:
df.shape

(86, 2)

In [10]:
Last_value = df.iloc[-1]['Profit/Losses']

In [11]:
print(Last_value)

671099

In [12]:
First_value = df.iloc[0]['Profit/Losses']

In [13]:
print(First_value)

867884

In [14]:
Average = (Last_value - First_value)/86

In [15]:
print (Average)

-2288.1976744186045

In [16]:
df.sum(axis=0)

Date             Jan-2010Feb-2010Mar-2010Apr-2010May-2010Jun-20...
Profit/Losses                                             38382578
dtype: object

In [13]:
import csv
data = []
months = []
with open ('/Users/summerhe/Desktop/UDEN201811DATA3/Week3/HW/Instructions/PyBank/Resources/budget_data.csv')as f:
    reader = csv.reader(f)
    next(reader)

    for row in reader:
        data.append(int(row[1]))
        months.append(row[0])

In [17]:

pairs = []
for index,row in enumerate(data):
    try:
        pairs.append((row ,data[index + 1]))
    except IndexError:
        pass

In [26]:
differences = []

for pair in pairs:
    first,second = pair
    diff = int(second)-int(first)
    differences.append(diff)
    
months[differences.index(max(differences)) + 1]

'Feb-2012'

In [27]:
months[differences.index(min(differences)) + 1]

'Sep-2013'

In [40]:
max(differences)

1926159

In [41]:
min(differences)

-2196167

In [36]:
import numpy as np

np.max(differences)

1926159