In [10]:

import pandas as pd
df = pd.read_csv('/Users/summerhe/Desktop/UDEN201811DATA3/Week3/HW/Instructions/PyPoll//Resources/election_data.csv')

df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [21]:
data_freq = df.Candidate.value_counts(normalize=True).to_dict()
data_freq

{'Khan': 0.6300001050837531,
 'Correy': 0.19999994319797126,
 'Li': 0.13999996023857988,
 "O'Tooley": 0.02999999147969569}

In [17]:
df.Candidate.value_counts()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [19]:
df.Candidate.value_counts()#.value_counts(normalize = True)

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [11]:
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan